.container {
  max-width: 600px;
  margin: 20px;
  border-color: white;
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;

  .imageContainer {
    height: 70%;
    padding: 5px;

    img {
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }

  .textContainer {
    padding: 10px;
    padding-top: 0px;
  }
}
